<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input type="text" placeholder="Enter your city name" id="city_name" autocomplete="off">
        <input type="submit" value="search" id="submitbutton">
    </form>
    <p id="cityName">Get output here</p>
    <h4>Temperature:</h4> <p id="temp_status"></p>
    <h4>Weather:</h4> <p id="weather_status"></p>
</body>
<script src="js/main.js"></script>
</html>